<div [@routerTransition]>
    <app-page-header [heading]="'Create Form'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form role="form" #formIo="ngForm">
                <fieldset class="form-group">
                    <label>Form Name</label>
                    <input class="form-control" required [(ngModel)]="formObj.formname" name="formname" placeholder="Enter text" />
                </fieldset>
                <div class="form-group">
                    <label>Sections</label>
                    <select class="form-control" [(ngModel)]="formObj.sectionid" name="sectionid">
                        <option value="0">
                            -- choose option --
                        </option>
                        <option *ngFor="let section of sectionList" value="{{ section.sectionid }}">
                            {{ section.sectionname }}
                        </option>
                    </select>
                </div>
                <form-builder [form]="formData"></form-builder>

                <div class="text-center">
                    <button type="submit" (click)="validateForm(formIo)" class="btn btn-primary mr-3 mt-3 float-right">Create Form</button>
                    <!-- <button type="reset" class="btn btn-secondary mt-3">Reset Button</button> -->
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>

<app-modal #modalPopUp [modalTitle]="modalTitle" [modalBody]="modalBody" (modalEvent)="submitForm()"></app-modal>
