<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <div class="row" id="obrz">
        <div class="col  col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{ formObj?.formname }}
                </div>
                <div class="card-body table-responsive" *ngIf="isViewForm">
                    <formio
                        id="formio"
                        [form]="{ title: formObj.formname, components: formObj.formData.components }"
                        [submission]="answeredformData"
                        [readOnly]="isFormSubmitted"
                    ></formio>
                </div>
                <div class="card-footer">
                    <input type="submit" *ngIf="!isFormSubmitted" class="btn btn-primary" (click)="submitform()" value="Submit" />
                    <button class="btn btn-primary" *ngIf="isFormSubmitted" (click)="downloadPdf()">Print Page</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<app-modal #modalPopUp [modalTitle]="modalTitle" [modalBody]="modalBody" (modalEvent)="submitform()"></app-modal>
