<div class="card text-white cursor-pointer bg-{{bgClass}}" [title]="label"  >
    <div class="card-header">
        <div class="row text-center">
            <div class="col col-xs-12">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <!-- <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{count}}</div>
                <div class="d-block">{{label}}</div>
            </div> -->
        </div>
    </div>
    <div class="card-footer text-center">
        <span class="text-center d-inline-block text-truncate" style="max-width: 100%;">{{label}}</span>
        <!-- <a href="javascript:void(0)" class="float-right card-inverse">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a> -->
    </div>
</div>
