<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 bg-white border-radius">
            <!-- <img class="user-avatar" src="assets/images/logo.png" width="100px" /> -->
            <!-- <h1>SB Admin BS4 Angular8</h1> -->
            <div class="form-steps">
                <div class="form-steps__step">
                    <!-- form-steps__step--completed -->
                    <div class="form-steps__step-circle" (click)="selectStep(0)">
                        <span class="form-steps__step-number">1</span>
                        <span class="form-steps__step-check">&#x2713;</span>
                    </div>
                    <span class="form-step__step-name">Personal Info</span>
                </div>

                <div class="form-steps__step form-steps__step--last">
                    <!-- form-steps__step--active -->
                    <div class="form-steps__step-circle" (click)="selectStep(1)">
                        <span class="form-steps__step-number">2</span>
                        <span class="form-steps__step-check">&#x2713;</span>
                    </div>
                    <span class="form-step__step-name">Contact Info</span>
                </div>
                <!--
                <div class="form-steps__step form-steps__step--last">
                    <div class="form-steps__step-circle" (click)="selectStep(2)">
                        <span class="form-steps__step-number">3</span>
                        <span class="form-steps__step-check">&#x2713;</span>
                    </div>
                    <span class="form-step__step-name">Verification</span>
                </div> -->
            </div>
            <form #regform="ngForm">
                <div class="full-step-form">
                    <div class="inner-step-div" [ngClass]="{ 'left-0': isFirstStep, 'left-33': isSecondStep, 'left-66': isThirdStep }">
                        <div class="step-form">
                            <div class="form-content">
                                <div class="form-group bottom-margin">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        name="firstname"
                                        [(ngModel)]="userdata.firstname"
                                        class="form-control input-lg"
                                        placeholder="{{ 'Full Name' | translate }}"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        name="lastname"
                                        [(ngModel)]="userdata.lastname"
                                        class="form-control input-lg"
                                        placeholder="{{ 'Last Name' | translate }}"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="date"
                                        class="form-control"
                                        name="birthDate"
                                        placeholder="Please pick birth date"
                                        [(ngModel)]="userdata.birthdate"
                                        autocomplete="off"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="text"
                                        name="line1"
                                        autocomplete="off"
                                        [(ngModel)]="userdata.line1"
                                        class="form-control input-lg"
                                        placeholder="{{ 'Education' | translate }}"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="text"
                                        name="line1"
                                        autocomplete="off"
                                        [(ngModel)]="userdata.username"
                                        class="form-control input-lg"
                                        placeholder="username"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="password"
                                        name="line1"
                                        autocomplete="off"
                                        [(ngModel)]="userdata.password"
                                        class="form-control input-lg"
                                        placeholder="password"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input
                                            type="radio"
                                            id="radioBtnMale"
                                            autocomplete="off"
                                            name="radioBtn"
                                            value="Male"
                                            [(ngModel)]="userdata.gender"
                                            class="custom-control-input"
                                            required
                                        />
                                        <label class="custom-control-label" for="radioBtnMale">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input
                                            type="radio"
                                            id="radioBtnFeMale"
                                            autocomplete="off"
                                            name="radioBtn"
                                            value="Female"
                                            [(ngModel)]="userdata.gender"
                                            class="custom-control-input"
                                            required
                                        />
                                        <label class="custom-control-label" for="radioBtnFeMale">Female</label>
                                    </div>
                                </div>
                            </div>
                            <a class="btn rounded-btn" (click)="selectStep(1)">{{ 'Next' | translate }}</a
                            >&nbsp;
                        </div>
                        <div class="step-form">
                            <div class="form-content">
                                <div class="form-group bottom-margin">
                                    <select
                                        class="custom-select"
                                        [(ngModel)]="countryObj"
                                        name="country"
                                        (ngModelChange)="storeCountryId(countryObj)"
                                        required
                                    >
                                        <option value="null">--choose--</option>
                                        <option *ngFor="let countryName of countriesArray; let i = index" [ngValue]="countryName"
                                            >{{ countryName.country }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group bottom-margin">
                                    <select class="custom-select" [(ngModel)]="userdata.state" name="state" required>
                                        <option value="null">--choose--</option>
                                        <option *ngFor="let stateName of statesArray" [value]="stateName">{{ stateName }} </option>
                                    </select>
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control input-lg"
                                        placeholder="{{ 'City' | translate }}"
                                        [(ngModel)]="userdata.city"
                                        name="city"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control input-lg"
                                        placeholder="{{ 'Email' | translate }}"
                                        [(ngModel)]="userdata.email"
                                        name="email"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <input
                                        type="number"
                                        autocomplete="off"
                                        class="form-control input-lg"
                                        placeholder="{{ 'Mobile Number' | translate }}"
                                        [(ngModel)]="userdata.phone"
                                        name="phone"
                                        required
                                    />
                                </div>
                                <div class="form-group bottom-margin">
                                    <textarea
                                        placeholder="Address"
                                        class="form-control input-lg"
                                        rows="3"
                                        [(ngModel)]="userdata.notes"
                                        name="address"
                                        required
                                    ></textarea>
                                </div>
                            </div>
                            <a class="btn rounded-btn" (click)="selectStep(0)">{{ 'Previous' | translate }}</a
                            >&nbsp;
                            <button class="btn rounded-btn" (click)="register(regform)" type="submit">{{ 'Register' | translate }}</button>
                        </div>
                        <!-- <div class="step-form">
                            <div class="form-content">
                                <div class="form-group bottom-margin">
                                    <input
                                        type="text"
                                        class="form-control input-lg"
                                        placeholder="{{ 'Enter OTP for verification' | translate }}"
                                    />
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'Register' | translate }}</a
                >&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a> -->
            </form>
        </div>
    </div>
</div>
